*{
    transition: .75s all ease;
    box-sizing: border-box;
}
/* navbar */
.navo{
    height: 100px;
}
.opto{
    text-decoration: none;
    color: black;
    transition: .75s all ease;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}
.opto:hover{
    text-decoration: none;
    color: #dc3545 !important;
}
.logo{
    font-size: 25px;
    font-weight: 700;
    color: #03a4ed !important;
}
.logo2{
    color: #dc3545 !important;
}
/* home section */
.baner_left{
    top: 13.5%;
    display: flex;
    position: absolute;
}
.baner_right{
    top: 13.5%;
    display: flex;
    position: absolute;
    right: 0;
}
.sec1{
    position: relative;
    top: 190px;
}
.sec2{
    position: relative;
    top: 300px;
    left: -50px;
}
.welcome{
    font-size: 20px;
    font-weight: bold;
}
.SEO{
    color: #03a4ed !important;
}
.sento{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
}
.flex{
    border-radius: 50px;
    background-color: #03a4ed;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
}
.inoput{
    background-color: transparent;
    border: none;
    color: white !important;
}
.btn2{
    color: #dc3545;
    background-color: white;
    font-weight: bold;
    border-radius: 50px;
}
#home{
    margin-bottom: 450px;
}
/* about section */
#about{
    background-image: url("images/about-bg.png");
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 200px;
}
.word{
    width: 70%;
}
.imgg{
    position: relative;
    right: 40px;
}
.white{
    color: white;
}
/* services */
#service{
    padding: 0%;
    margin-bottom: 200px;
}
.seright{
    margin-left: -100px;
}
.cyan{
    color: #03a4ed;
}
.sentenco{
    font-weight: bold;
    font-size: 30px;
}
.parag{
    margin-top: 20px;
    font-size: 14.5px;
}
/* portfoloi */
#portfolio{
    margin-bottom: 200px;
}
.hideo {
    opacity: 0%;
    background-color: #dc3545;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.myDIV{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: auto;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}
.hideo:hover{
    opacity: 100%;
}
.mainn{
    border-radius: 30px 0 30px 30px;
}
.mainn2{
    border-radius: 0 30px 30px 30px;
}

@media screen and (max-width: 992px) {
    .sec1{
        position: relative;
        top: 130px;
    }
    .sec2{
        position: relative;
        top: 100px;
        left: -5px;
    }
    .imgg{
        width: 100%;
    }
    .box{
        background-color: #dc3545;
        border-radius: 20px;
        max-width: 400px;
        margin: auto;
        padding: 5px;
    }
    #service{
        position: relative;
        top: 600px;
    }
    .seright{
        max-width: 90%;
        margin: 100px auto;
        padding: auto;

    }
    #portfolio{
        margin-top: 600px;
    }
    .myDIV{
        margin: 20px 0;
    }
}